<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center">
            <div id="chat-container">
                <div id="chat-window">
                    <div id="output"></div>
                        <div id="actions">

                        </div>
                        <input type="text" name="" id="username" placeholder="Usuario">
                         <input type="text" name="" id="message" placeholder="Mensaje">
                         <button id="send">Enviar</button>
                    
                </div>
            </div>
        </div>
    </header>
</main>